/* CSS stylesheet used to style our HTML to improve the UI */

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /* background: url('img3.jpg') no-repeat;
    background-size: auto;
    background-position: center; */
}

.container {
    display: flex;
}
  
.text-content {
    flex: 1; 
    text-align: center;
    color: rgb(0, 0, 0);
}
  
.animated-text {
    opacity: 0;
}

span,p {
    text-align: left;
    margin:top;
    color: rgb(0, 0, 0);
}

.wrapper {
    margin: 30px auto; 
    width: 500px; 
    height: 600px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(144, 144, 144);
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    padding: 20px;
    backdrop-filter: blur(20px);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

form {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}
.textarea{
    width: 94%; 
    padding: 12px;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 5px; 
    background-color: transparent;
    color: rgb(0, 0, 0);
    resize: none;
}

::placeholder{
    color: rgb(0, 0, 0);
}

.remember-forgot {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.remember-forgot a, .register{
    color: white;
    text-decoration: none;
    transition: text-decoration 0.15s;
}

.remember-forgot a:hover, .register:hover {
    text-decoration: underline;
}


.clear,.submit {
    background-color: #196ae5;
    color: rgb(253, 253, 253);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
}

.submit:hover ,.clear:hover{
    background-color: #0051ca;
}

.submit:active,.clear:active{
    background-color: #003d99;
}

.headline{
    font-size: 50px;
    position: relative;
    left: 0;
}

.icon-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.icon{
    width: 100px;
}

.icon-text{
    font-size: 25px;
    font-weight: 100;
}

.loading-message-answer,.loading-message-sql{
    margin-left: 5px;
    font-size: small;
    font-weight: 400;
    color: black;
}