/* CSS stylesheet used to style our HTML to improve the UI */

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background: url('img3.jpg') no-repeat;
    background-size: auto;
    background-position: center;
}

.container {
    display: flex;
}
  
.text-content {
    flex: 1; 
    text-align: center;
    color: white;
}
  
.animated-text {
    opacity: 0;
}

span,p {
    text-align: left;
    margin:top;
    color: white;
}

.wrapper {
    margin: 30px auto; 
    width: 500px; 
    height: 550px;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 5px; 
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5); 
    padding: 20px;
    backdrop-filter: blur(20px);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

form {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}
.textarea{
    width: 94%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: transparent;
    color: white;
}

::placeholder{
    color: white;
}

.remember-forgot {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.remember-forgot a, .register{
    color: white;
    text-decoration: none;
    transition: text-decoration 0.15s;
}

.remember-forgot a:hover, .register:hover {
    text-decoration: underline;
}


.clear,.submit {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.15s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit:hover ,.clear:hover{
    background-color: #d9d9d9;
}

.headline{
    font-size: 50px;
    position: relative;
    left: 0;
}

.icon-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.icon{
    width: 100px;
}

.icon-text{
    font-size: 25px;
    font-weight: 100;
}

.loading-message-answer,.loading-message-sql{
    margin-left: 5px;
    font-size: small;
    font-weight: 400;
}